### ***Le tableau***

In [120]:
import pandas as pd

merged_df = pd.read_csv('Merged_df.csv')

In [121]:
tableau_data = merged_df[['ville','canton','prix_metre_carre_moyen_louer', 'prix_metre_carre_moyen_acheter', 'ROI']].round(2)
tableau_data.head(10)

,ville,canton,prix_metre_carre_moyen_louer,prix_metre_carre_moyen_acheter,ROI
0,Obfelden,ZH,23.02,8640.40,3.20
1,Wil,ZH,19.82,7255.75,3.28
2,Winkel,ZH,21.39,9535.26,2.69
3,Stäfa,ZH,20.59,12761.80,1.94
4,Pfäffikon,ZH,21.39,9168.47,2.80
5,Uster,ZH,21.04,9736.07,2.59
6,Winterthur,ZH,25.21,10111.41,2.99
7,Urdorf,ZH,22.84,9733.66,2.82
8,Zürich,ZH,60.71,13342.80,5.46
9,Langenthal,BE,13.35,4000.00,4.00

---

##### ***Converti le df en tableau CSV***

In [122]:
#Création du nouveau fichier CSV avec le tableau
tableau_data.to_csv('table_csv.csv', index=False)

##### ***Converti le df en tableau HTML***

In [123]:
#Création du nouveau fichier HTML avec le tableau
tableau_data.to_html('table_html.html', index=False)

##### ***Qq modifs du HTML***

In [124]:
# Supprime tout avant le '</thead>' et remplace '</table>' par une chaîne vide dans le HTML
with open('table_html.html', 'r') as file:
    html_content = file.read()


# Trouve l'index de '</thead>' et '</table>'
index_thead = html_content.find('</thead>')
index_table = html_content.find('</table>')

# Remplace tout le contenu avant '</thead>' par une chaîne vide
modified_html_content = html_content[index_thead+len('</thead>'):]

# Remplace '</table>' par une chaîne vide dans le contenu modifié
modified_html_content = modified_html_content.replace('</table>', '')


# Réécrit le fichier HTML avec la modification
with open('table_html.html', 'w') as file:
    file.write(modified_html_content)

##### ***Modifie le HTML avec beautiful soup pour mettre la couleur en fonction du ROI***

In [125]:
from bs4 import BeautifulSoup

# Ouvrir le fichier HTML existant
with open('table_html.html', 'r', encoding='utf-8') as file:
    html_content = file.read()


# Analyser le code HTML avec BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Trouver toutes les balises <tr> dans le code HTML
for tr_tag in soup.find_all('tr'):
    # Récupérer la valeur du 5ème <td> après chaque <tr>
    roi_value = float(tr_tag.find_all('td')[4].text.strip())
    
    # Déterminer la classe en fonction de la valeur de ROI
    if roi_value < 2:
        class_name = 'colorROI bad'
    elif 2 <= roi_value < 3:
        class_name = 'colorROI notgood'
    elif 3 <= roi_value < 4:
        class_name = 'colorROI okay'
    elif 4 <= roi_value < 5:
        class_name = 'colorROI commun'
    elif 5 <= roi_value < 6:
        class_name = 'colorROI good'
    else:
        class_name = 'colorROI excellent'
    
    # Créer une nouvelle balise <p> avec la classe désirée et y placer la valeur de ROI
    p_tag = soup.new_tag('p', **{'class': class_name})
    p_tag.string = str(roi_value)

    # Remplacer le contenu de la balise <td> par la nouvelle balise <p>
    td_tag = tr_tag.find_all('td')[4]
    td_tag.clear()  # Effacer le contenu actuel de la balise <td>
    td_tag.append(p_tag)  # Ajouter la nouvelle balise <p> à la balise <td>

#Ajoute une tabulation à gauche de la balise <tr>
for tr_tag in soup.find_all('tr'):
    tr_tag.insert_before(soup.new_string('\t'))

#Ajoute une tabulation à gauche de la balise <tr>
for tr_tag in soup.find_all('td'):
    tr_tag.insert_before(soup.new_string('\t\t'))


# Enregistrer le code HTML modifié dans un fichier
with open('table_html.html', 'w', encoding='utf-8') as file:
    file.write(str(soup))

In [126]:
#Tabule '</tr>' 

with open('table_html.html', 'r') as file:
    html_content = file.read()
    
modified_html_content = html_content.replace('</tr>', '    </tr>')

# Réécrit le fichier HTML avec la modification
with open('table_html.html', 'w') as file:
    file.write(modified_html_content)